{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <div class="row KPIs">
            <div class="col-sm-6 col-lg-3">
                <div class="card KPI">
                    <div class="card-header">
                        
                        <i class="tim-icons icon-world color-co2total"></i> 

                    </div>
                    <div class="card-body">
                        <h4 class="card-title"> CO<sub>2</sub> Removido Total</h4> 
                        <h3 id="co2-total" class="KPI-value">62.3 kg</h3>  
                        
                    </div>

                   
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card KPI">
                    <div class="card-header">
                        
                        <i class="tim-icons icon-sound-wave color-efficiency"></i>   
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Eficiência Atual</h4> 
                        <h3 id="efficiency" class="KPI-value">87.2%</h3>  
                        
                    </div>

                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card KPI">
                    <div class="card-header">
                        
                        <i class="tim-icons icon-molecule-40 color-co2monthly"></i>   
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Redução Mensal de CO<sub>2</sub></h4> 
                        <h3 id="co2-monthly" class="KPI-value">35.6 kg</h3>  
                        
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card KPI">
                    <div class="card-header">
                        
                        <i class="tim-icons icon-watch-time color-watch-time"></i>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Tempo Ativo</h4>
                        <h3 id="active-time" class="KPI-value">120h</h3>
                        
                    </div>
                </div>
            </div>

            
        </div>







        <div class="row dashboard-overview">
            <!-- RETIRANDO O GRAFICO DE REMOCAO DE CO2 -->
            <!-- <div class="col-12 col-xl-8">
                <div class="card card-chart">
                    <div class="card-header ">
                    
                        <div class="row">
                            <div class="col-sm-6 text-left">
                                

                                
                                <h2 class="card-title">Remoção de CO<sub>2</sub></h2>
                            </div>
                        
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="chartBig1"></canvas>
                        </div>
                    </div>
                </div>
            </div> -->

            <div class="col-12 col-xl-4">
                <div class="card card-chart">
                    <div class="card-header ">

                                <h3 class="card-title">CO<sub>2</sub></h3>
                        
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <!-- <canvas id="chartCo2"></canvas> -->
                             <div id="gaugeco2"> </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                
                <div class="card card-chart">
                    <div class="card-header">
                       
                        <h3 class="card-title"> pH</h3>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <div id="gaugeph"> </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <!-- <div class="row">
            <div class="col-12">
                <div class = "monitor-Title" >
                    <h3> Monitoramento em Tempo Real</h3>
                </div>
            </div>
        </div> -->





        <div class="row dashboard-gauges">
            
            <div class="col-md-6 col-xl-4">
                <div class="card card-chart">
                    <div class="card-header">
                        
                        <h3 class="card-title"> Temperatura</h3>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <!-- <canvas id="chartTemperature"></canvas> -->
                             <div id="gaugeTemperature"> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xl-4">
                <div class="card card-chart">
                    <div class="card-header">
                        
                        <h3 class="card-title"> Luminosidade</h3>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <!-- <canvas id="chartLuminosity"></canvas> -->
                             <div id="gaugeLuminosity"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
 {% block javascripts %}

<script type="module" src="{{ url_for('static', filename='assets/js/realtime.js') }}"></script>

{% endblock javascripts %}
