# False for production, True for development
DEBUG=False

# Flask ENV
FLASK_APP=run.py
SECRET_KEY=CHANGE_ME

# Used for CDN (in production)
# No Slash at the end
ASSETS_ROOT=/static/assets

# Database
# Leave unset to keep SQLite in the app volume
# DB_ENGINE=mysql
# DB_NAME=appseed_db
# DB_HOST=localhost
# DB_PORT=3306
# DB_USERNAME=appseed_db_usr
# DB_PASS=CHANGE_ME

# SOCIAL AUTH Github
# GITHUB_ID=YOUR_GITHUB_ID
# GITHUB_SECRET=YOUR_GITHUB_SECRET

# MQTT
MQTT_ENABLED=true
MQTT_REQUIRED=false
MQTT_BROKER=127.0.0.1
MQTT_PORT=1883
MQTT_TOPIC=cba_fotobiorreator/sensors/+/data
